// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.createdBy-Cont {
    margin-bottom: 20px;
    bottom: 0;
    text-align: center;
    .createdBy {
        display: inline;
        margin: auto;
    }
}